@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Pro','Lora', 'Montserrat', sans-serif;
    background-color: #181719;
    color: white;
}

.panel {
    margin: 15px;
    
}

.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    justify-items: center;
    align-items: center;
    margin: 15px; 
}

.menu {
    display: none;
}
.menu-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    width: 100%;
    transition: 4s e all;
    
}

.close  {
    margin-left: 280px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in all;
}

.menu-mini a{
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.heading h3 {
    font-weight: 200;
    font-family: 'Crimpson Pro';
    font-size: 14px;
    padding: 5px;
    border: 1px solid white;
}

.main-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.main-section h1 {
    font-size: 36px;
    font-family: 'Lora';
    font-weight: 500;
    margin-bottom: 20px;
}

.text-area p {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    line-height: 17px;
    

}

.more-section {
    display: flex;
    /* justify-content: space-between; */
    width: 60%;
    align-items: center;
    margin-bottom: 25px;
}

.icon2 {
    font-size: 30px;
    margin-left: 5px;
}

.more-section p {
    width: 50%;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
}

.image-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.image-section .first-img {
    width: 345px;
    
}

.designer-info {
    /* width: 85%;
    height: ; */
    width: 300px;
    height: 138px;
    background-color:  #181719;
    margin-top: -50px;
    padding: 15px;
    margin-left: 20px;
}

.about-designer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.name {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.int {
    color: #828282;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
}

.designer-name {
    margin-left: -20px;
}
.design-info  {
    margin-left: 18px;
    font-family: 'Lora';
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 23px;
}




.designer-info img {
    width: 40px;
    border-radius: 50%;
}

.dev {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width:700px) {
    .panel {
        margin: 50px ;
    }
    
    .close{
        display: none;
    }
    .text-area {
        width: 35%;
    }

    .more-section p {
        width: 90%;
    }
    .icon {
        display: none;
    }

    .icon2 {
        font-size: 25px;
    }

   .image-section .first-img {
        width: 350px;
    }

    .menu {
        display: none;
    }

    .menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .menu-bar a {
        padding: 20px;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        font-style: normal;

    }

    .menu-bar a span {
        border-bottom: 2px solid white;
    }

    .main-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }

    .more-section {
        width: 55%;
        margin-top: 20px;
    }

    
    .main-section h1 {
        font-size: 30px;
    }

    /* .text-area p {

    } */

    
}

@media screen and (min-width:1000px){
    .close{
        display: none;
    }
    .panel {
        margin: 70px ;
    }
    .main-section {
        margin-bottom: 200px;
    }

    .menu-bar a {
        padding-right: 45px;
    }
    .main-section h1 {
        font-size: 47px;
    }

    .icon {
        display: none;
    }

    .text-area p {
        font-size: 20px;
        width: 320px;
        line-height: 25px;
    }

    .more-section {
        align-items: center;
        
    }

    .designer-info {
        margin-left: 200px;
    }

    .text-area p br {
        display: none;
    }

    .image-section {
        background-size: contain;
        margin-left: 100px;
    }
   .image-section .first-img {
        width: 570px;
    }
}